*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
nav
{
    margin-top: 7vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;

}
nav ul
{
    margin-left: 25vw;
}
nav li
{
    margin-left: 1vw;
    padding: 3px;
    display: inline-flex;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.05vw;
    
}
nav li a
{
    margin-left: 3px;
    display: inline-flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}
nav li a:hover
{
    color: rgb(3, 3, 3);
    border-radius: 5px;
    text-decoration: underline;
    transform: scale(1.1);
    
}
.container
{
  display: flex;
  background-attachment: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.profilepic
{
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30vw;
  margin-top: 17vh; 
}
.profilepic h1{
  font-size: 3.33vw;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}
.profilepic h1:hover
{
  color: rgb(109, 165, 238);
  transform: scale(1.1);
  
  cursor: default;
}

.container .profilepic img  
{
      width: 28vw;
      height: 28vw;
      border-radius: 50%;
      margin: 20px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      transition: all 0.3s ease-in-out;
}
.container img:hover
{
      transform: scale(1.1);
}
.intro
{
    width: 35vw;
    margin-top: 50vh;
    
}
.intro p
{
    margin-left: 2vw;
    padding-top: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    line-height: auto;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}
 b
{
    color: rgb(109, 165, 238);
    font-size:120%;
}
b:hover
{
    color: rgb(255, 255, 255);
}
.intro h1
{
    margin-left: 3.6vw;
    width: 12vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: largest;
    color: rgba(109, 165, 238, 0.789);
    transition: all 0.3s ease-in-out;
}
.intro h1:hover
{
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    text-decoration: underline;
    cursor: default;
}
.intro p:hover
{
    color: rgb(255, 255, 255);
    transform: scale(1.03);
    cursor: default;
    
}
html{
    scroll-behavior: smooth;
}
 
